# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\sh199\OneDrive\바탕 화면\Asset\1. 현재 관점-정상현\평생\개발자-SW (2018~)\직교 자료\Work Space\대학\2021-Semester1\2021-Coding Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
